body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7EDE2;
    font-family: 'Lora', serif;
    font-size: 1.5em;
    color: #F7EDE2;
}

#calc {
    margin-top: 30px;
    width: 350px;
    height: auto;
    border: outset 4px #F5CAC3;
    background-color: #F5CAC3;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    gap: 5px;
}

#result {
    padding-right: 10px;
    display: flex;
    border: inset 4px #F5CAC3;
    width: auto;
    height: 2em;
    justify-content: end;
    align-items: center;
    font-size: 2em;
    background-color: #84A59D;
}

button {
    display: flex;
    justify-content: center;
    padding: 10px;
    min-width: 30px;
    height: auto;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    border: outset 4px #F6BD60;
    background-color: #F6BD60;
    font-family: 'Lora', serif;
    font-size: 1em;
    color: #F7EDE2;
}

.num:active,
button:active {
    background-color: #f59b0b;
    border: inset 4px #f59b0b;
}

.red {
    background-color: #F28482;
    border: outset 4px #F28482;
}

.red:active {
    background-color: #f94a47;
    border: inset 4px #f94a47;
}

#equal {
    background-color: #84A59D;
    border: outset 4px #84A59D;
}

#equal:active {
    background-color: #48a08a;
    border: inset 4px #48a08a;
}