body {
    box-sizing: border-box;
}

#calc {
    width: fit-content;
    height: auto;
    border: solid 2px black;
}

#result {
    display: flex;
    border: solid 1px black;
    width: auto;
    height: 1.5em;
    justify-content: end;
    align-items: center;
}

button {
    width: 30px;
    aspect-ratio: 1;
}